<div class="container-main margin-from-navbar">

  <div class="article-top">
    <div class="article-header">

      <div class="header-info">
        <p class="header-author"><%= @article.author.upcase %></p>
        <p class="header-date"><%= @article.date.strftime("%d of %B %Y") %></p>
      </div>

      <div class="header-title">
        <h1><%= @article.title %></h1>
        <p style="color: grey;"><%= @article.tagline %></p>
      </div>

    </div>

    <% if @article.photo.attached? %>
      <%= cl_image_tag @article.photo.key %>
    <% else %>
      <img src="https://source.unsplash.com/random" alt="">
    <% end %>

  </div>

  <div class="container-60">
    <p style="color: grey !important;"><%= @article.rich_body %></p>
  </div>


</div>

