<!-- <div class="navbar navbar-expand-sm navbar-light navbar-main px-3">
  <#%= link_to "/", class: "navbar-brand text-bold" do %>
    BRENDA
    <#% end %>

  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <#%= link_to "WORK", work_path, class: "nav-link text-bold" %>
      </li>
      <li class="nav-item">
        <span class="align-item-center">•</span>
      </li>
      <li class="nav-item">
        <#%= link_to "ABOUT", new_user_session_path, class: "nav-link text-bold" %>
      </li>
      <li class="nav-item">
        <#% if user_signed_in? && current_user.avatar.attached?%>
          <#%= cl_image_tag current_user.avatar.key, class: "avatar" %>
        <#% end %>
      </li>
    </ul>
  </div>
</div> -->

<div class="navbar-main">
  <%= link_to "/", class: "text-bold navigation-item cheating " do %>
    BRENDA
  <% end %>

  <div class="navigation-items align-item-center">
    <%= link_to "WORK", work_path, class: "text-bold cheating " %>
    <span class="align-item-center text-bold cheating ">•</span>
    <%= link_to "ABOUT", about_path, class: "text-bold cheating " %>
    <span class="align-item-center text-bold cheating ">•</span>
    <% if user_signed_in? && current_user.avatar.attached?%>
      <%= link_to dashboard_path do %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
      <% end %>
    <% end %>
  </div>

</div>
