<div class="navbar-main">
  <%= link_to "/", class: "text-bold navigation-item cheating " do %>
    BRENDA
  <% end %>

  <div class="navigation-items align-item-center">
    <%= link_to "WORK", work_path, class: "text-bold cheating " %>
    <span class="align-item-center text-bold cheating ">•</span>
    <%= link_to "ABOUT", about_path, class: "text-bold cheating " %>
    <span class="align-item-center text-bold cheating ">•</span>
    <% if user_signed_in? && current_user.avatar.attached?%>
      <%= link_to dashboard_path do %>
        <%= cl_image_tag current_user.avatar.key, class: "avatar" %>
      <% end %>
    <% end %>
  </div>

</div>
