<div class="container-main margin-from-navbar dashboard-color">
  <h2>Welcome, <strong><%= @user.name %>!</strong></h1>
  <br>
  <br>
  <div class="">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active link-font" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="color:black;">Your Articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-font" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false" style="color:black">Your Exhibitions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-font" id="newarticle-tab" data-toggle="tab" href="#newarticle" role="tab" aria-controls="newarticle" aria-selected="false" style="color:black">Add an article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-font" id="newexhibition-tab" data-toggle="tab" href="#newexhibition" role="tab" aria-controls="newexhibition" aria-selected="false" style="color:black">Add an Exhibition</a>
      </li>
    </ul>
    <div class="container-60">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
          <ol class="ol-kill-padding">
            <% @articles.each do |article| %>
              <%= link_to article_path(article) do %>
                <div class="card-product">
                  <%= cl_image_tag(article.photo.key, class: "img-filter")%>
                  <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> %>
                  <div class="card-product-infos">
                    <h2><%= article.title %></h2>
                    <p style="color: grey !important;"><%= article.tagline%></p>
                  </div>
                </div>
              <% end  %>
            <% end %>
          </ol>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <ol class="ol-kill-padding">
            <% @exhibitions.reverse.each do |exhibition| %>
              <%= link_to exhibition_path(exhibition) do %>
                <div class="card-product">
                  <% if exhibition.photos.attached? %>
                    <%= cl_image_tag(exhibition.photos.first.key, class: "img-filter" )%>
                  <% else %>
                    <img src="https://images.unsplash.com/photo-1605999081451-4436bf1d0d88?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80" />
                  <% end %>
                  <div class="card-product-infos">
                    <h2><%= exhibition.title %></h2>
                    <p style="color: grey !important;"><%= exhibition.curated_by%></p>
                  </div>
                </div>
              <% end  %>
            <% end %>
          </ol>
        </div>
        <div class="tab-pane fade" id="newarticle" role="tabpanel" aria-labelledby="newarticle-tab">
          <%= simple_form_for(@article) do |f| %>
            <%= f.input :title %>
            <%= f.input :author %>
          <!--   <%#= f.input :body %> -->
            <%= f.input :tagline %>
            <%= f.rich_text_area :rich_body %>
            <%= f.input :date, html5: true  %>
            <%= f.input :photo, as: :file %>
            <div class="btn w-100 dashboard-button">
              <%= f.submit %>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="newexhibition" role="tabpanel" aria-labelledby="newexhibition-tab">
        <%= simple_form_for(@exhibition) do |f| %>
          <%= f.input :title %>
          <%= f.input :artists %>
          <%= f.input :institution_name %>
          <%= f.input :institution_address %>
          <%= f.input :curated_by %>
          <%= f.input :text %>
          <div class="d-flex">
            <%= f.input :start_date, html5: true  %>
            <%= f.input :end_date, html5: true  %>
          </div>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <div class="btn w-100 dashboard-button">
            <%= f.submit %>
          </div>
        <% end %>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
</div>

