<div class="container-main margin-from-navbar">
  <h1><strong><%= @user.name %> <%= @user.surname %></strong></h1>
  <br>
  <br>
  <h2>Articles</h2>
  <ol>
    <% @articles.each do |article| %>
      <li><%= article.title %></li>
    <% end %>
  </ol>
  <br>
  <br>
  <h2>Exhibitions</h2>
  <ol>
    <% @exhibitions.each do |exhibition| %>
      <li><%= exhibition.title %></li>
    <% end %>
  </ol>

  <h2>ADD AN ARTICLE</h2>
  <%= simple_form_for(@article) do |f| %>
    <%= f.input :title %>
  <!--   <%#= f.input :body %> -->
    <%= f.input :tagline %>
    <%= f.input :date %>
    <%= f.input :author %>
    <%= f.rich_text_area :rich_body %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>

  <h2>ADD AN EXHIBITION</h2>
  <%= simple_form_for(@exhibition) do |f| %>
    <%= f.input :title %>
    <%= f.input :artists %>
    <%= f.input :institution_name %>
    <%= f.input :institution_address %>
    <%= f.input :curated_by %>
    <%= f.input :text %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>


